$light-text-color: white;
$main-color: #0058ee;
$main-color-1: #0b65ff;
$main-color-2: #013997;
$main-color-3: #011b47;
$secondary-color: #00ebe2;
$tertiary-color: #2100f0;
$light-color: #f9fbff;

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $light-color;
  margin: 0;
}

@media (min-width: 1500px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 22px;
  }
}

.rgx-main-section {
  padding: 7em 7% 1em;
  background-color: $main-color-2;
}

.rgx-main-section.odd {
  // background-color: $main-color;
}

.rgx-header-section {
  padding-top: 10vh;
  padding-bottom: 20vh;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 780px) {
  .rgx-header-section {
    flex-direction: column;
  }
}

.rgx-logo-header {
  background: url("../assets/rengenx.svg") no-repeat 50%;
  background-size: contain;
  width: 450px;
  height: 108px;
}

.rgx-header-section > div {
  margin: 3em;
}

.rgx-header-section-left {
  flex: 1 1 60%;
  max-width: 35em;
}

.rgx-header-description {
  font-size: 2em;
  margin: 0.5em 0;
}

.rgx-header-section-right {
  padding: 3em;
  background-color: $light-color;
  color: $main-color-3;
  flex: 1 1 40%;
  max-width: 30em;
}

.rgx-signup-button {
  width: 100%;
  background-color: $main-color;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  letter-spacing: 0.25em;
  border-radius: 3px;
  padding: 0.5em 0;
  margin-top: 2em;
  display: inline-block;
  text-align: center;
  transition: 0.1s background-color;
}

.rgx-signup-button:hover,
.rgx-signup-button:active,
.rgx-signup-button:focus {
  background-color: $main-color-1;
  text-decoration: none;
}

.rgx-signup-button:visited {
  color: white;
  text-decoration: none;
}

.rgx-justified-text {
  text-align: justify;
  margin: 1em 0;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.rgx-screenshot {
  display: none;
}

.rgx-demo-screenshot {
  width: 100%;
}

@media (max-width: 1130px) {
  .rgx-screenshot {
    display: block;
  }

  .rgx-iframe {
    display: none;
  }
}

.rgx-demo {
  width: 100%;
  height: 785px;
  border: none;
  outline: 1px solid #ccc;
}

.rgx-grid-layout {
  margin: 0 -1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rgx-tile {
  background-color: $light-color;
  color: $main-color-3;
}

.rgx-tile,
.rgx-bio-tile {
  margin: 2.5%;
  width: 20%;
}

@media (max-width: 1250px) {
  .rgx-tile,
  .rgx-bio-tile {
    width: 45%;
  }
}

@media (max-width: 570px) {
  .rgx-tile,
  .rgx-bio-tile {
    width: 100%;
  }
}

.rgx-tile-header {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  justify-content: center;
}

.rgx-tile-icon {
  width: 3em;
  height: 3em;
  flex-shrink: 0;
  min-width: 0;
  display: inline-block;
  margin-right: 1em;
}

.rgx-tile-title {
  display: inline-block;
}

.rgx-tile-body {
  padding: 1em;
  text-align: center;
}

.rgx-bio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rgx-bio-img {
  width: 45%;
  min-width: 150px;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid $secondary-color;
}

.rgx-bio-content {
  text-align: center;
  margin-top: 0.5em;
  min-width: 200px;
}

.rgx-safe-icon {
  transform: translateY(3px);
}

.rgx-header {
  background: $main-color-2;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1em 7%;
}

.rgx-header-link {
  text-decoration: none;
  color: $light-color;
  transition: 0.3s color;
  font-size: 1.5em;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: $secondary-color;
  }
}

.rgx-logo {
  background: url("../assets/RGX.svg") no-repeat 50%;
  background-size: contain;
  width: 6.5em;
  height: 3em;
}
