$light-text-color: white;
$main-color: #0058ee;
$main-color-1: #0b65ff;
$main-color-2: #013997;
$main-color-3: #011b47;
$secondary-color: #00ebe2;
$tertiary-color: #2100f0;
$light-color: #f9fbff;

$border-color: $main-color;

$backround-image-url: "../assets/background-image.png";

@mixin background-texture($height: 100%) {
  &::before {
    content: "";
    position: fixed;
    background-image: url($backround-image-url);
    display: block;
    height: $height;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
  }
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $light-color;
  margin: 0;
  background: linear-gradient(
    to bottom,
    $main-color-2 5%,
    #0149c3 25%,
    #0149c3 40%,
    $main-color-2 90%
  );

  @include background-texture();
}

@media (min-width: 1500px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 22px;
  }
}

.rgx-main-section {
  padding: 7em 7% 1em;
}

.rgx-header-section {
  padding-top: 10vh;
  padding-bottom: 20vh;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rgx-logo-header {
  width: 100%;
  max-width: 40em;
}

.rgx-header-section-left,
.rgx-header-section-right {
  margin: 3em;
}

.rgx-header-section-left {
  flex: 0 1 60%;
  max-width: 100%;
  box-sizing: border-box;
}

.rgx-header-description {
  font-size: 2em;
  margin: 0.5em 0;
}

.rgx-header-section-right {
  padding: 3em;
  background-color: $light-color;
  color: $main-color-3;
  flex: 0 1 40%;
  max-width: 30em;
  border: 5px solid $border-color;
  box-sizing: border-box;
}

.rgx-signup-button {
  width: 100%;
  background-color: $main-color;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  letter-spacing: 0.25em;
  border-radius: 3px;
  padding: 0.5em;
  margin-top: 2em;
  display: inline-block;
  text-align: center;
  transition: 0.1s background-color;
  box-sizing: border-box;
}

.rgx-signup-button:hover,
.rgx-signup-button:active,
.rgx-signup-button:focus {
  background-color: $main-color-1;
  text-decoration: none;
}

.rgx-signup-button:visited {
  color: white;
  text-decoration: none;
}

.rgx-justified-text {
  text-align: justify;
  margin: 1em 0;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.rgx-screenshot {
  display: none;
}

.rgx-demo-screenshot {
  width: 100%;
}

@media (max-width: 1130px) {
  .rgx-screenshot {
    display: block;
  }

  .rgx-iframe {
    display: none;
  }

  #rgx-demo-link {
    display: none;
  }
}

.rgx-demo {
  width: 100%;
  height: 785px;
  border: none;
  outline: 1px solid #ccc;
}

.rgx-grid-layout {
  margin: 0 -1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rgx-tile {
  background-color: $light-color;
  color: $main-color-3;
  border: 5px solid $border-color;
  box-sizing: border-box;
}

.rgx-tile,
.rgx-bio-tile {
  margin: 2.5%;
  width: 20%;
}

.rgx-tile-header {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  justify-content: center;
}

.rgx-tile-icon {
  width: 3em;
  height: 3em;
  flex-shrink: 0;
  min-width: 0;
  display: inline-block;
  margin-right: 1em;
}

.rgx-tile-title {
  display: inline-block;
}

.rgx-tile-body {
  padding: 1em;
  text-align: center;
}

.rgx-bio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rgx-bio-img {
  width: 45%;
  min-width: 220px;
  max-width: 300px;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid $border-color;
}

.rgx-linked-in-link {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  > .rgx-bio-img {
    width: 100%;
  }

  &:hover > .rgx-bio-img {
    filter: brightness(1.1);
  }
}

.rgx-bio-content {
  text-align: center;
  margin-top: 0.5em;
  min-width: 200px;
}

.rgx-safe-icon {
  transform: translateY(3px);
}

.rgx-header {
  background: $main-color-2;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1em 7%;
  box-shadow: 0px 0.5em 2em rgba(0, 0, 0, 0.3);

  @include background-texture(5em);
}

.rgx-header-link {
  text-decoration: none;
  color: $light-color;
  transition: 0.3s color;
  font-size: 1.5em;
  margin: 0 0.5em;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: #0b65ff;
  }
}

.rgx-logo {
  background: url("../assets/RGX.svg") no-repeat 50%;
  background-size: contain;
  width: 6.5em;
  height: 3em;

  //to load hover svg on pageload
  &::after {
    content: "";
    background: url("../assets/RGX_hover.svg") no-repeat 50%;
    width: 0;
    height: 0;
  }

  &:hover {
    background: url("../assets/RGX_hover.svg") no-repeat 50%;
    background-size: contain;
    width: 6.5em;
    height: 3em;
  }
}

.shouldAnimate {
  visibility: hidden;
}

.animation-delay-1,
.animation-delay-4 {
  animation-delay: 0.1s;
}

.animation-delay-2,
.animation-delay-5 {
  animation-delay: 0.2s;
}

.animation-delay-3,
.animation-delay-6 {
  animation-delay: 0.3s;
}

.animation-delay-7 {
  animation-delay: 0.4s;
}

@media (max-width: 1250px) {
  .rgx-tile,
  .rgx-bio-tile {
    width: 45%;
  }

  .animation-delay-2 {
    animation-delay: 0.1s;
  }

  .animation-delay-3,
  .animation-delay-4 {
    animation-delay: 0.2s;
  }

  .animation-delay-5,
  .animation-delay-6 {
    animation-delay: 0.3s;
  }
}

@media (max-width: 570px) {
  .rgx-tile,
  .rgx-bio-tile {
    width: 100%;
  }

  .animation-delay-1,
  .animation-delay-2,
  .animation-delay-3,
  .animation-delay-4,
  .animation-delay-5,
  .animation-delay-6,
  .animation-delay-7 {
    animation-delay: 0s;
  }

  .rgx-logo {
    display: none;
  }

  .rgx-scroll-indicator {
    display: none;
  }

  .rgx-header::before {
    height: 4em;
  }
}

.rgx-footer {
  font-size: 0.8125em;
  animation-duration: 2s !important;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .rgx-header-description {
    font-size: 1.75em;
  }
}

@media (max-width: 365px) {
  body {
    font-size: 12px;
  }

  .rgx-header-description {
    font-size: 1.75em;
  }
}

@keyframes rgx-bounce {
  0% {
    top: 0px;
  }
  10% {
    top: 0.25em;
  }
  27% {
    top: 0px;
  }
  40% {
    top: 0.4em;
  }
  60% {
    top: 0px;
  }
}

.rgx-scroll-indicator {
  position: absolute;
  bottom: 0px;
  transition: opacity 0.5s;

  .rgx-header-section > & {
    margin: 0 0 3em;
    font-size: 1.25em;
  }

  &::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: $light-color;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    margin: 0.5em auto 0;

    animation-name: rgx-bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  &.fadeOutUp {
    cursor: default;
  }
}

#rgx-tagline {
  position: absolute;
  bottom: 20vh;
}

@media (max-width: 850px) {
  .rgx-header-section {
    flex-direction: column;
    padding-bottom: 10vh;
  }

  #rgx-tagline {
    position: unset;
    bottom: unset;
  }
}
