.horizontal {
    background: #fff;
    /*max-width: 1800px;*/
    max-width: 100% margin: 0 auto;
    position: relative
}

.horizontal .hor__image {
    background-size: cover;
    /* background-position: center;*/
    /*height: 300px*/
    height: 50px;
    position: absolute;
    left: 0;
    border: 0px solid #ccc;
    display: inline-block;
    padding: 20px 50px;
    height: 320px;
    cursor: pointer;
    background-size: cover;
    margin: 0 0 25px;
}

@media (min-width: 812px) {
    .horizontal .hor__image {
        height: 600px
    }
}

.hor--draggable {
    cursor: -webkit-grab;
    cursor: grab;
    background: #fafafa;
    position: relative
}

.hor--draggable .hor__draggable {
    height: calc(100vh - 48px);
    min-height: 400px;
    overflow: hidden
}

@media (min-width: 812px) {
    .hor--draggable .hor__draggable {
        /*height: calc(100vh - 72px);*/
        height: 100vh;
        max-height: 750px
    }
}

.hor--draggable .hor__draggable .hor__draggable__content {
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 0
}

.hor--draggable .hor__draggable .hor__draggable__content img {
    height: 100%
}

.hor--draggable .hor__draggable .hor__draggable__content--index {
    width: 10217px
}

@media (min-width: 812px) {
    .hor--draggable .hor__draggable .hor__draggable__content--index {
        width: 12375px
    }
}

.hor--draggable .hor__draggable .hor__draggable__content--extended {
    width: 4583px
}

@media (min-width: 812px) {
    .hor--draggable .hor__draggable .hor__draggable__content--extended {
        width: 5552px
    }
}

.horizontal .hor__callout {
    /*background: #51EFB1;*/
    color: #fff;
    opacity: 1;
    padding: 60px 30px;
    transition: opacity 400ms ease-in-out;
    z-index: 1
}

@media (min-width: 812px) {
    .horizontal .hor__callout {
        height: 200px;
        margin-top: -10px;
        padding: 40px;
        position: absolute;
        /*right: 220px;*/
        box-sizing: border-box;
        /*bottom: -90px;*/
        bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }
}

.horizontal .hor__callout--top {
    top: 60px;
    bottom: auto
}

.horizontal .hor__callout--variable-height {
    height: auto
}

.horizontal .hor__callout .hor__callout__image {
    line-height: 0;
    margin: 0 -30px
}

.horizontal .hor__callout .hor__callout__image img {
    max-width: 100%
}

.horizontal .hor__callout .hor__callout__title {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 28px;
    line-height: 1.29;
    /* margin-bottom: 30px*/
}

.horizontal .hor__callout .hor__callout__body {
    flex-grow: 1
}

.horizontal .hor__callout .hor__callout__aside {
    text-transform: uppercase;
    margin-top: 30px
}

.horizontal .hor__callout .hor__callout__aside a {
    color: inherit;
    font-weight: 500
}

.horizontal .hor__callout .hor__callout__mobile {
    display: block;
    margin-top: 30px
}

@media (min-width: 812px) {
    .horizontal .hor__callout .hor__callout__mobile {
        display: none
    }
}

.horizontal .hor__callout .hor__callout__mobile .hor__callout__mobile__title {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 24px;
    line-height: 30px
}

.horizontal .hor__callout .hor__callout__mobile .hor__callout__mobile__body {
    margin-top: 30px;
    margin-bottom: 30px
}

.hor--yellow .hor__callout {
    background: #FFD500;
    color: #000
}

.hor--teal .hor__callout {
    background: #1CE8B5;
    color: #000
}

.hor--green .hor__callout {
    background: #1CE898;
    color: #000
}

.hor--default .hor__callout {
    /*background: #fafafa;*/
    /* background: rgb(250,250,250, 0.9); */
    background: rgb(90, 180, 90, 0.99);
    color: #FFF
}

.hor--dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

@media (min-width: 812px) {
    .hor--dragging .hor__callout {
        opacity: 0
    }
}

@media (min-width: 812px) {
    .hor--with-weather {
        padding-bottom: 0;
        padding-top: 60px
    }
}

.hor--with-weather .hor__callout {
    padding-bottom: 140px
}

@media (min-width: 812px) {
    .hor--with-weather .hor__callout {
        padding-bottom: inherit
    }
}

.hor--with-weather .hor__callout__subpartial {
    box-sizing: border-box;
    height: 160px;
    position: absolute;
    left: 30px;
    right: 30px;
    margin-top: 60px;
    max-width: 400px
}

@media (min-width: 812px) {
    .hor--with-weather .hor__callout__subpartial {
        bottom: -105px;
        left: 20px;
        right: 20px
    }
}

.hor__callout__cta {
    margin-top: 20px
}

.hero {
    background: #fff;
    box-sizing: border-box;
    max-width: 1800px;
    margin: 0 auto;
    padding: 30px
}

@media (min-width: 812px) {
    .hero {
        padding: 120px 60px
    }
}

.hero--sm {
    padding: 30px 30px
}

@media (min-width: 812px) {
    .hero--sm {
        padding: 120px 60px 60px
    }
}

.hero--sm .hero__main {
    margin-bottom: 30px !important
}

.hero--animation {
    padding-bottom: 30px
}

.hero--animation .hero {
    margin-bottom: 0
}

.hero--animation .hero__animation {
    float: right;
    margin: 0;
    max-width: 45vw;
    text-align: center
}

@media (min-width: 812px) {
    .hero--animation .hero__animation {
        float: none;
        margin-top: -40px;
        max-width: 100%
    }
}

.hero--animation .hero__animation svg {
    max-width: 100%;
    max-height: 150px
}

@media (min-width: 812px) {
    .hero--animation .hero__animation svg {
        max-height: 100%
    }
}

.hero .hero__ctas {
    margin-top: 30px
}

.hero .hero__content {
    max-width: 1280px;
    margin: 0 auto
}

@media (min-width: 812px) {
    .hero .hero__content {
        padding: 0 30px
    }
}

@media (min-width: 812px) {
    .hero .hero__body {
        max-width: 588px;
        font-size: 18px;
        line-height: 32px
    }
}

.hero .notifications-control {
    margin-top: 30px
}

.hero .hero__box {
    /*display: none*/
}

@media (min-width: 812px) {
    .hero .hero__box {
        display: block
    }
}

.hero .hero__logo {

    height: 75px;
    overflow: visible;
    text-align: left;
    width: 400px
}


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .hero .hero__logo {
        height: 75px;
        overflow: visible;
        text-align: left;
        width: 300px
    }
}

.hero .hero__logo--scrollable {
    display: none
}

@media (min-width: 812px) {
    .hero .hero__logo--scrollable {
        display: block;
        position: fixed;
        transform: scale(1);
        z-index: 1010;
        opacity: 0
    }
}

.hero .hero__logo--loaded.hero__logo--scrollable {
    transition: opacity 400ms ease;
    opacity: 1
}

@media (min-width: 812px) {
    .hero .hero__logo--mobile {
        display: none
    }
}

.hero .hero__logo svg {
    width: 95%;
    max-height: 95%
}

.hero .hero__title {
    margin: 30px 0;
    font-family: "Product Sans", arial, sans-serif;
    font-size: 40px;
    line-height: 54px
}

@media (min-width: 812px) {
    .hero .hero__title {
        max-width: 450px
    }
}

.hero .hero__title--sm {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 28px;
    line-height: 1.29
}

.hero .hero__title span {
    color: #51EFB1
}

.hero .hero__date {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 18px;
    line-height: 1.44
}

.hero .hero__location {
    font-size: 14px;
    line-height: 20px
}

@media (min-width: 812px) {
    .hero .hero__location {
        font-size: 15px;
        line-height: 1.87
    }
}

.hero .hero__main {
    margin-bottom: 60px
}

@media (min-width: 812px) {
    .hero .hero__main--contained {
        max-width: 590px
    }
}

.hero .hero__main .box {
    margin: 0 auto
}

.featuredBlocks {
    background: #FAFAFA;
    box-sizing: border-box;
    max-width: 1800px;
    margin: 0 auto;
    padding: 60px 30px;
    position: relative;
    transition: opacity 400ms ease-in-out
}

@media (min-width: 812px) {
    .featuredBlocks {
        padding: 120px 60px
    }
}

.featuredBlocks--loading {
    display: none
}

.featuredBlocks--user {
    padding-bottom: 30px
}

.featuredBlocks:not(.featuredBlocks--loading)+.featuredBlocks {
    padding-top: 0
}

.featuredBlocks .featuredBlocks__header {
    margin-bottom: 40px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__header {
        display: flex;
        align-items: center;
        justify-content: space-around
    }
}

.featuredBlocks .featuredBlocks__header__title {
    flex-grow: 1;
    font-family: "Product Sans", arial, sans-serif;
    font-size: 28px;
    line-height: 1.29;
    margin-bottom: 10px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__header__title {
        margin-bottom: 0
    }
}

.featuredBlocks .featuredBlocks__header__cta a {
    color: inherit;
    font-weight: 500;
    display: flex;
    align-items: center
}

.featuredBlocks .featuredBlocks__content {
    max-width: 1280px;
    margin: 0 auto
}

.featuredBlocks .featuredBlocks__videos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos {
        margin: 0 -10px
    }
    .featuredBlocks .featuredBlocks__videos--3-cols {
        margin: 0 -15px
    }
}

.featuredBlocks .featuredBlocks__videos__video {
    display: block;
    margin-bottom: 20px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video {
        margin-bottom: 30px;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box
    }
}

.featuredBlocks .featuredBlocks__videos__video:last-child {
    margin-bottom: 0
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video--3-cols {
        width: 33%
    }
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__meta {
        display: flex;
        justify-content: space-around
    }
}

.featuredBlocks .featuredBlocks__videos__video__meta__left {
    font-size: 18px;
    line-height: 26px;
    flex-grow: 1
}

.featuredBlocks .featuredBlocks__videos__video__meta__right__tag {
    font-size: 12px;
    line-height: 12px;
    padding: 5px 8px;
    background: #EDEDED;
    display: inline-block;
    text-transform: capitalize
}

.featuredBlocks .featuredBlocks__videos__video__meta__right__tag--blue {
    background: #BCC8FB
}

.featuredBlocks .featuredBlocks__videos__video__meta__right__tag--yellow {
    background: #FFD500
}

.featuredBlocks .featuredBlocks__videos__video__meta__right__tag--green {
    background: #1CE8B5
}

.featuredBlocks .featuredBlocks__videos__video__meta__left__subtitle {
    font-size: 13px;
    line-height: 1.38;
    color: #727272;
    margin-bottom: 5px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__meta__left__subtitle {
        margin-bottom: 0;
        margin-top: 0
    }
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail {
    position: relative;
    border-radius: 5px;
    line-height: 0;
    margin-bottom: 10px;
    overflow: hidden
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail img {
    width: 100%
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail--bg {
    background: #F4F6F8;
    border-radius: 2px;
    border: 1px solid #EBEEF1;
    box-sizing: border-box;
    display: flex;
    line-height: inherit;
    position: relative;
    transition: all 200ms ease;
    cursor: pointer
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__thumbnail--bg {
        padding: 15px;
        height: 232px
    }
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail--bg:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 5px 8px 0 rgba(0, 0, 0, 0.12)
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__arrow {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__arrow {
        display: block
    }
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols {
    display: flex;
    justify-content: align-center
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col {
    padding: 10px
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col svg {
    width: 100% !important
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col:first-child {
    line-height: 0;
    width: 100px;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col:first-child {
        width: 170px
    }
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col em {
    font-weight: normal;
    color: #51EFB1;
    font-style: normal
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col__title {
    font-size: 22px;
    line-height: 30px;
    color: #5775F4;
    margin-top: 5px
}

@media (min-width: 812px) {
    .featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__cols__col__title {
        margin-top: 10px;
        margin-bottom: 20px
    }
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__play {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.featuredBlocks .featuredBlocks__videos__video__thumbnail .featuredBlocks__videos__video__thumbnail__play svg {
    width: 100px
}

.featuredBlocks__videos__video--3-cols svg {
    width: 40px !important
}

.contentboxes {
    background: #fff;
    box-sizing: border-box;
    max-width: 1800px;
    padding: 60px 30px;
    margin: 0 auto;
    position: relative
}

@media (min-width: 812px) {
    .contentboxes {
        padding: 120px 60px
    }
}

.contentboxes .contentboxes__header {
    margin-bottom: 60px
}

@media (min-width: 812px) {
    .contentboxes .contentboxes__header {
        display: flex;
        align-items: center;
        justify-content: space-around
    }
}

.contentboxes .contentboxes__cta {
    font-weight: 500
}

@media (min-width: 812px) {
    .contentboxes .contentboxes__cta {
        float: right
    }
}

.contentboxes .contentboxes__cta a {
    color: inherit
}

.contentboxes .contentboxes__content {
    max-width: 1280px;
    margin: 0 auto
}

.contentboxes .contentboxes__title {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 28px;
    line-height: 1.29;
    flex-grow: 1;
    margin-bottom: 20px
}

@media (min-width: 812px) {
    .contentboxes .contentboxes__title {
        margin-bottom: 0
    }
}

.contentboxes .contentboxes__image {
    background-size: cover;
    height: 760px;
    width: 500px
}

.contentboxes .contentboxes__box {
    max-width: 280px
}

@media (min-width: 812px) {
    .contentboxes .contentboxes__box {
        margin-bottom: 60px
    }
}

.contentboxes .contentboxes__box--shadow {
    background: #F4f4f4;
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.15);*/
    border-radius: 2px;
    padding: 20px;
    max-width: 100%;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.contentboxes .contentboxes__box--shadow .contentboxes__box__body {
    flex-grow: 1
}

.contentboxes .contentboxes__box .contentboxes__box__image {
    height: 40px;
    vertical-align: middle;
    width: 40px;
    padding-right: 14px;
}

.contentboxes .contentboxes__box .contentboxes__box__image img {
    max-width: 100%
}

.contentboxes .contentboxes__box .contentboxes__box__title {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 18px;
    line-height: 24px
}

.contentboxes .contentboxes__box .contentboxes__box__body {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px
}

.contentboxes .contentboxes__box .contentboxes__box__subtitle {
    color: #727272;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px
}

.contentboxes .contentboxes__box .contentboxes__box__cta {
    text-transform: uppercase;
    font-weight: 500
}

.contentboxes .contentboxes__box .contentboxes__box__row {
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

.contentboxes--wide .contentboxes__box {
    max-width: 340px
}

.contentboxes .contentboxes__animation {
    max-width: 100%;
    display: none
}

@media (min-width: 812px) {
    .contentboxes .contentboxes__animation {
        margin-top: -100px
    }
}

@media (min-width: 1024px) {
    .contentboxes .contentboxes__animation {
        display: block;
        right: 150px
    }
}

.statement {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1800px;
    padding: 60px 30px 0
}

.bk_white {
    background: #fff;
}

.bk_offwhite {
    background: #FAFAFA;
}

@media (min-width: 812px) {
    .statement {
        padding: 120px 30px 0
    }
}

.statement--last {
    padding-bottom: 30px
}

@media (min-width: 812px) {
    .statement--last {
        padding-bottom: 120px
    }
}

.statement .statement__table {
    border-collapse: collapse;
    line-height: 21px
}

.statement .statement__table--airports td:first-child {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    padding-right: 30px
}

.statement .statement__table--airports td:nth-child(2) {
    padding-right: 30px
}

.statement .statement__table tr td {
    padding-right: 20px;
    padding-bottom: 12px
}

.statement .statement__table tr:last-child td {
    padding-bottom: 0
}

.statement .statement__content {
    max-width: 1280px;
    margin: 0 auto
}

.statement .statement__content .statement__content__title {
    font-family: "Product Sans", arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center
}

@media (min-width: 812px) {
    .statement .statement__content .statement__content__title {
        font-family: "Product Sans", arial, sans-serif;
        font-size: 28px;
        line-height: 1.29
    }
}

.statement .statement__content .statement__content__title .statement__content__title__svg {
    margin-right: 15px;
    vertical-align: middle;
    display: flex;
    align-items: center
}

.statement .statement__content .statement__content__title .statement__content__title__svg svg {
    height: 100%
}

.statement .statement__content h1,
.statement .statement__content h2,
.statement .statement__content h3 {
    font-family: "Product Sans", arial, sans-serif;
    font-weight: 500
}

.statement .statement__content h1 {
    padding: 0
}

.statement .statement__content a {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500
}

.statement .statement__content .statement__ctas {
    margin-top: 30px
}

.statement .statement__content .statement__ctas .statement__ctas__cta {
    display: inline-block;
    margin-right: 20px
}

@media (min-width: 812px) {
    .statement .statement__content .statement__ctas .statement__ctas__cta {
        margin-right: 60px
    }
}

.statement .statement__content .mymap {
    margin-top: 30px
}

.statement--toc .statement__content {
    padding: 0
}

@media (min-width: 812px) {
    .statement--toc .statement__content {
        max-width: 1280px
    }
}

.statement--toc .statement__content p,
.statement--toc .statement__content ul {
    max-width: 590px
}

.statement--toc h1 {
    margin-top: 60px
}

.statement--toc h2,
.statement--toc h3 {
    margin: 60px 0 30px
}